@page
@model MyBooks.Pages.Cds.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cd</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.Artist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.Lenght)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.Lenght)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.MojaOcena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.MojaOcena)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cd.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
