@page
@model MyBooks.Pages.Cds.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cd</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.Artist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.Lenght)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.Lenght)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cd.MojaOcena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cd.MojaOcena)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cd.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
